.easy-section {
  background-image: url("../../assets/images/easy-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.ans-btn {
  background: transparent;
  color: "white";
}

.correct {
  background-color: #73d13d !important;
  border: 1px solid #b7eb8f;
}

.wrong{
    background-color: red !important;
}
