.easy-section {
  background-image: url("../../assets/images/easy-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@media only screen and (max-width: 450px) {
.easy-section {
background-position: center center;
  background-size: cover;
  height: 100%;
}
}
