.you-win__section{
    height: 100vb;
    background-image: url('../../assets/images/Frame\ 3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}