.main-btn {
  width: 100%;
  max-width: 400px;
}

@media only screen and (max-width: 700px) {
  .main-page__section {
    padding-top: 50px;
  }

  .main-title {
    font-size: 24px !important;
    margin-bottom: 0 !important;
  }

  .main-subtitle {
    font-size: 20px !important;
  }

  .main-btn {
    max-width: 300px;
  }
}


@media only screen and (max-width: 450px) {
.main-title {
    font-size: 18px !important;
  }
  
  .main-subtitle {
    font-size: 15px !important;
  }

  .main-btn {
    max-width: 200px;
  }
}

@media only screen and (max-width: 350px) {

.main-title {
    font-size: 16px !important;
  }
}