.site-logo{
    width: 150px !important;
}

@media only  screen and (max-width: 700px){
    .site-logo{
        width: 100px !important;
    }
}

@media only  screen and (max-width: 450px){
    header{
        padding: 0 18px !important;
    }
    .site-logo{
        width: 80px !important;
    }

    .site-header__switch{
        height: 20px !important;
    }

    .ant-switch-handle{
        width: 15px !important;
        height: 15px !important;
    }
}